
/*** Tablet ***/
@media screen and (min-width: 600px) {

}

/*** PC ***/
@media screen and (min-width: 769px) {
    /** main **/
    #main {
        width: 1000px;
        margin-bottom: 20em;
    }
    #main:after {
        display :block;
        content: "";
        clear:both;
    }
    width: 1000px;
    margin-bottom: 20em;
}
#main h2 {
    border-bottom: 2px solid #ff0000;
    color:#333333;
    font-weight:normal;
    font-size:40px;
    text-align: center;
    padding: 0 0 .1em 0;
}
#contents h2 {
    border-bottom: 2px solid #ff0000;
    color:#333333;
}
#contents h3 {
    border-bottom: 2px solid #ff0000;
    color:#333333;
    text-align: center;
    font-weight:normal;
    font-size:20px;
}
/** main sub **/
.sub #main {
    width: 740px;
}


/** logo detail **/
.logo_main {
    margin-top: 5em;
}
.logo_main h2 {
    border-bottom: 2px solid #ff0000;
    color:#333333;
    font-size:50px;
    font-weight:normal;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0 0 .5em 0;
}
.logo_main h2 .logo_id {
    font-size:15px;
}
.logo_main .logo_main_img_box {
    width: 360px;
    float: left;
    border: 1px solid #cccccc;
    text-align: center;
}
.logo_main .logo_main_img_box img {
    width: 100%;
}
.logo_key {
    width: 360px;
    float: right;
}
.logo_key li {
    font-size: 20px;
    padding: 1em;
    height: 80px;
}
.logo_key li.logo_price {
    background: #ff0000;
    color:#ffffff;
    margin-bottom:0;
}
.logo_price {

}
.logo_main:after {
    display:block;
    content:"";
    clear:both;
}

.logo_target {
    font-size: 20px;
    margin-top: 3em;
}
.target_text {
    text-align: center;
    text-decoration: underline;
}
.target_text li {
    display:inline-block;
    text-decoration: underline;
}
.target_text li a {
    display:inline-block;
    text-decoration: underline;
}
.target_text li:after {
    content:"、";
    height:auto;
    display:inline-block;
}
.target_text li:last-child:after  {
    content:"";
}
.logo_concept {
    margin-top: 3em;
}
.logo_concept .concept_text {
    font-size: 15px;
    line-height:1.8em;
    width:700px;
    margin: 0 auto;
}
.logo_arrange {
    margin-top: 3em;
}
.logo_arrange ul {
    margin: 0;
}
.logo_arrange ul li {
    width: 350px;
    height: 350px;
    float: left;
    border: 1px solid #cccccc;
    background: #ffffff;
    margin-bottom: 17px;
}
.logo_arrange ul li:first-child,
.logo_arrange ul li:nth-child(3) {
    margin-right: 34px;
}
.logo_arrange ul li img {
    width: 100%;
}
.designer_box {
    margin-top: 3em;
}
.designer_box .d_left{
    float: left;
    width: 200px;
}
.d_img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
}
.d_img img{
    position: absolute;
    left:-3em;
    height:110%
}
.btn_detail {
    margin:0;
}
.btn_detail a {
    background: #ff0000;
    color: #ffffff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2em;
}
.designer_box .d_right{
    float: right;
    width: 472px;
}
.designer_box:after{
    display:block;
    content:"";
    clear:both;
}
.designer_text {
    padding:0;
    margin:0;
    line-height: 1.85em;
}
.designer_text:nth-child(n+2) {
    margin-top: 1em;
}
.faq_box {
    margin-top: 3em;
    margin-bottom: 3em;
}
.faq_box dl {
    margin-bottom: 3em;
}
.faq_box dl dt {
    border-bottom:1px solid #cccccc;
    margin: 0 0 2em;
    padding: 0 0 2em 70px;
    height: 70px;
    line-height: 50px;
    position: relative;
}
.faq_box dl dt:before {
    background: url(../images/common/icno_q.png) no-repeat 0 top;
    width: 50px;
    height: 50px;
    content:"";
    position: absolute;
    left:0;
}
.faq_box dl dd {
    margin: 0;
    padding-left: 70px;
}
.faq_box dl dd:before {
    background: url(../images/common/icon_answer.png) no-repeat 0 center;
    width: 52px;
    height: 50px;
    content:"";
    position: absolute;
    left:0;
}
.btn_faq_detail {
    background: #ccc;
    width: 14em;
    margin: 0 auto;
    text-align: center;
}
.btn_faq_detail a{
    color: #fff;
    padding: .5em;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.btn_buy {
    text-align: center;
}

.btn_buy button {
    background: rgb(255,0,0);
    background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(204,0,4,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(204,0,4,1) 100%);
    background: linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(204,0,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#cc0004',GradientType=0 );
    border:0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    color:#FFFFFF;
    width:200px;
    height:80px;
    font-size:30px;
}
.btn_buy button:hover {
    opacity: .7;
}

.purchace {
    background:#FFFFFF;
    width:230px;
    position:absolute;
    top: 300px;
    right:1em;
    border: 3px solid #ff0000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 1em;
}
.purchace .btn_buy {
    margin-bottom: 1em;
}
.purchace dl {
    text-align: center;
    width: 100%;
    margin: 1em 0 0 0;
}
.purchace dl dt {
    border: 1px solid #ff0000;
    color:#ff0000;
    padding: 5px;
}
.purchace dl dd{
    text-align: center;
    margin: 10px 0 0 0;
}

/*　購入完了 Thanks */
.purchace_thanks {

}
.purchace_thanks p {
    text-align: center;
}
/*　コンシェルジュ */
.conciergeBox {

}
/*　お客様の声 */
.voiceBox {

}
}


@media (min-width: 1280px) {
    hgroup {
        width:1000px;
    }
}
